*{
    padding: 0px;
    margin: 0px;
    /* color: aliceblue; */
    font-family: sans-serif;
    box-sizing : border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aquamarine;
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.login {
    border-radius: 10px;
    position: relative;
    width: 420px;
    background: rgb(88, 34, 137);
    color: rgb(47, 37, 37);
    padding: 30px 40px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1); 
}
.login h1{
    color: #fff;
    text-align: center;
    font-size: 40px;
}
.login .input-box{
     width: 100%;
     height: 50px;
    
     margin: 30px 0px;
}
.input-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    background: transparent;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #fffcfc; 
}
.pos-rel{
    position: relative;
}

.top60{
    top: 32%;
}
.top62{
    top: 53%;
}
.input-box i{
    color: #fff;
    position: absolute;
    right: 60px;
    transform: translateY(-50%);
}

.login .chk-bxk{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}

.chk-bxk label {
    color: #fff;
    margin-left: 3px;
}
.Input{
    margin-right: 3px;
}

.chk-bxk a{
    color: #fff;
    text-decoration: none;
}
.chk-bxk a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    font-size: 20px;
    background-color: #fff;
    color: grey;
    border: none;
    border-radius: 40px;
    border: 2px solid transparent;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-weight: 600;
}
.register-link{
    color: #fff;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link a:hover{
    text-decoration: underline;
}